<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Day 54 - Flask</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin-top: 100px;
        }

        h1 {
            font-size: 40px;
        }

        p {
            font-size: 20px;
        }

        a {
            display: inline-block;
            margin: 10px;
            text-decoration: none;
        }
    </style>
</head>

<body>

    <h1>🐍 Day 54 — Flask Web Development</h1>

    <p>Welcome to my first Flask web application!</p>

    <p>
        Today I learned about
        <strong>Command Line, Python Decorators and Flask.</strong>
    </p>

    <a href="/about">About</a>

    <a href="/hello/Tehseen">Hello Page</a>

    <a href="/decorator">Decorator Example</a>

</body>
</html>